* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* common flex */
body,
main,
.double.container,
.cover,
.single {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  width: 100vw;
  height: 100vh;
  color: #4e4e4e;
  font-size: 24px;
  font-weight: 700;
}
main {
  width: 502px;
  flex-direction: column;
}

.container {
  width: 241px;
  height: 310px;
  position: relative;
  border: 1px solid #c4c4c4;
}
.container:hover {
  border: 1px solid #0074e9;
}
.cover {
  flex-direction: column;
  gap: 13px;
}
.double:last-child {
  width: 100%;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.single {
  padding-top: 14px;
  flex-direction: column;
}
.single span {
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 7px;
}

a {
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  outline: none;
}
a::before {
  content: '>';
  transition: all 0.3s;
}
a:active:after,
a:hover:after {
  width: 112px;
  height: 42px;
  line-height: 42px;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '구매하기 >';
  background-color: #0074e9;
  word-spacing: 16px;
}
