* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4e4e4e;
}
main {
  width: 502px;
  display: flex;
  flex-direction: column;
}

.container {
  height: 310px;
  width: 241px;
  border: 1px solid #c4c4c4;
  position: relative;
}
.container:hover {
  border: 1px solid #0074e9;
}
.double {
  width: 100%;
  display: flex;
  align-items: center;
}
.cover {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 13px;
}
.double.container .product {
  width: 222px;
  height: 270px;
}
div.double {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
.single {
  text-align: center;
  padding-top: 14px;
}
.single h2 {
  margin-top: 10px;
  margin-bottom: 7px;
}

a {
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 20px;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
  text-decoration: none;
  outline: none;
}
a::before {
  content: '>';
  transition: all 0.3s;
}
a:active:after,
a:hover:after {
  width: 112px;
  height: 42px;
  line-height: 42px;
  position: absolute;
  left: 0;
  bottom: 0;
  content: '구매하기 >';
  background-color: #0074e9;
  word-spacing: 16px;
}
