main {
  width: clamp(325px, 90%, 1200px);
  margin: 60px 2em 0;
  text-align: center;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  gap: 28px;
}
main h1 {
  width: 100%;
  font-size: clamp(34px, 3em, 60px);
  font-weight: 700;
  line-height: 120%;
}
main span {
  color: var(--white);
  text-shadow: 0px 2px 6px var(--text--shadow--paragraph);
  font-weight: 700;
  line-height: 150%;
}
main form {
  width: clamp(245px, calc(100% - 450px), 750px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 12px;
}
main form input,
main form button {
  box-sizing: content-box;
}
main form input {
  width: clamp(225px, 80%, 520px);
  height: 20px;
  padding: 1em;
  border: none;
  outline: none;
}
main .button.right {
  width: clamp(130px, 50%, 194px);
  height: 20px;
  line-height: 20px;
  padding: 0.65em 0;
  background: var(--red--500);
  color: var(--white);
  font-size: clamp(12px, 16px, 20px);
  font-weight: 700;
}
@media (max-width: 375px) {
  main form input,
  main form .button.right {
    border-radius: 30px;
  }
  main form input {
    margin-bottom: 4px;
  }
}
