.logo-red {
  fill: var(--red);
}
.logo-white {
  fill: var(--white);
}
.logo-red-border {
  stroke: var(--red);
}
.logo-white-border {
  stroke: var(--white);
}
/* desktop */
@media (min-width: 375px) {
  svg {
    width: 14em;
  }
}
/* mobile */
@media (max-width: 375px) {
  svg {
    width: 8em;
  }
}
